ul,h1,h2,h3,h4,h5,h6,p{ margin: 0; font-weight: 400; line-height: 2; }
ul,li{ list-style: none; padding: 0; }
em{ font-style: normal;}
a{ text-decoration: none;}
a,input{ outline: none; color: #333;}
a:focus{ outline: none; }

html{ font-size: 20px; }
body{ background-color: #333; font-weight: 400;  font: 14px/2 sans-serif;  font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti; }


/* 主要内容的css */
div.main{ padding-top: 3.2rem; }

/* 首页头部 */
div.main div.header{ 
	moz-user-select: -moz-none;-moz-user-select: none; -o-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; 
    background-color: #fff; width: 100%; position: fixed; top:0; left: 0; z-index: 99; 
}

div.main div.header section.logo{ 
	moz-user-select: -moz-none;-moz-user-select: none; -o-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; 
	width: 10rem; height: 3.2rem; text-align: center; letter-spacing: .2rem; text-indent: .2rem; position: absolute; top: 0; left: 0; 
}
div.main div.header section.logo *{ color: #3d6; font-size: 1.5rem; line-height: 3.2rem; cursor: default; }
div.main div.header section.logo a{ color: #333; font-size: 1.4rem; }

div.main div.header nav { height: 3.2rem; box-sizing: border-box; margin-left: 10rem; border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; min-width: 50rem; }
div.main div.header nav >ul {overflow: auto;}
div.main div.header nav >ul li { line-height: 3.2rem; float: left; display: auto; }
div.main div.header nav >ul li a{ color: #333; display: block; padding: 0 .75rem; font-size: 15px; letter-spacing: .15rem; text-indent: .15rem; position: relative;}

div.main div.header nav >ul li.on a,
div.main div.header nav >ul li.on:hover a{ background-color: #3d6; color: #fff; text-shadow: -1px 1px 3px #a5a5a5; }
div.main div.header nav >ul li:hover a{ color: #3d6; }

div.main div.header nav >ul li:hover a:after{ content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background-color: #3d6; }

/* 侧边栏 */
div.main section.navBar-left{ 
	moz-user-select: -moz-none;-moz-user-select: none; -o-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; 
    width: 10rem; position: fixed; top:3.2rem; left: 0; color: #fff; z-index: 98;
}

div.main section.navBar-left >ul{ text-align: center; box-sizing: border-box; border-top: 1px solid #fff;  }

div.main section.navBar-left >ul li{ line-height: 3; font-size: 14px; letter-spacing: .1rem; text-indent: .1rem; border-bottom: 1px dashed #000; }

div.main section.navBar-left >ul li:first-child{ border-top: 1px dashed #000; margin-top: -1px; }

div.main section.navBar-left >ul li a{ display: block; padding-right: .75rem; color: #dedede; }

div.main section.navBar-left >ul li.on a,
div.main section.navBar-left >ul li:hover a{ background-color: #fff; color: #333; } 

/* 中心区 */
div.main section.center-content{  box-sizing: border-box; margin-left: 10rem; min-height: 975px; background-color: #fff; color: #333; padding: 1rem; }

/* 版权声明区 */
div.main section.copyright-info{  box-sizing: border-box; margin-left: 10rem; background-color: #333; color: #fff; text-align: center; padding: .75rem 1rem; }

div.main section.copyright-info >p{ line-height: 2; font-size: 13px; letter-spacing: .1rem; text-indent: .1rem; color: #dedede; }

div.main section.copyright-info >p em{ margin: 0 .5rem; }



